<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<property name="consoleLogPattern" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr([%15.15t]){faint} %clr([%16X{x-b3-traceId}]) %clr(%-30.30class{30}){cyan} %clr([%3line]){magenta}%clr(:){faint} %m%n%wEx" />
	<property name="logFilePatter" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%15.15t][%16X{x-b3-traceId}] %-30.30class{30}[%3line]: %m%n%wEx" />
	<property name="applicationName" value="discord-bot" />
	<property name="log.dir" value="../logs" />

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${consoleLogPattern}</pattern>
		</encoder>
	</appender>
	<appender name="AsyncConsoleAppender" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="consoleAppender" />
		<includeCallerData>true</includeCallerData>
	</appender>

	<appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/${applicationName}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${logFilePatter}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/${applicationName}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<appender name="AsyncRollingFileAppender" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="RollingFileAppender" />
		<includeCallerData>true</includeCallerData>
	</appender>

	<logger name="net.dv8tion.jda" level="info" additivity="false">
		<appender-ref ref="AsyncRollingFileAppender" />
		<appender-ref ref="AsyncConsoleAppender" />
	</logger>
	<logger name="wp.discord.bot" level="debug" additivity="false">
		<appender-ref ref="AsyncRollingFileAppender" />
		<appender-ref ref="AsyncConsoleAppender" />
	</logger>

</configuration>