<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml" />


	<property name="consoleLogPattern" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr([%15.15t]){faint} %clr([%16X{x-b3-traceId}]) %clr(%-30.30class{30}){cyan} %clr([%3line]){magenta}%clr(:){faint} %m%n%wEx" />

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${consoleLogPattern}</pattern>
		</encoder>
	</appender>

	<logger name="net.dv8tion.jda" level="info" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="wp.discord.bot" level="debug" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

</configuration>